.item {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

#wrap1 {
  display: flex;
  /* width: 700px; */
  height: 700px;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid red;
  justify-content: center;
  /* column-gap: 10px; */
  gap: 10px;
}
