.orange {
  background: orange;
}
.green {
  background: green;
}
.blue {
  background: blue;
}
.pink {
  background: pink;
}
.item {
  height: 100px;
  width: 100px;
}

#wrap1 {
  display: flex;
  width: 1000px;
  border: 1px solid black;
  height: 250px;
  align-items: center;
  justify-content: space-between;
}

#wrap2 {
  display: flex;
  border: 1px solid black;
  width: 1000px;
  height: 300px;
  align-items: center;
  justify-content: space-between;
}

#wrap2 .orange {
  align-self: end;
}

#wrap2 .green {
  display: flex;
  align-self: end;
}

#wrap2 .blue {
  align-self: start;
}

#wrap2 .pink {
  align-self: center;
}
