/* main.css */
*{
  box-sizing: border=box;
}

body{
  margin:0;
}

.wrap{
  width:1200px;
  border:2px solid black;
  margin: auto;
}
.header{
  width:100%;
  border:2px solid red;
  /* height: 200px; */
  /* vertical-align: middle; 수직 정렬 */
  padding:50px 0;
  text-align: center;
}
.menu{
  font-size:20px;
  padding:20px;
}
.menu:hover{
  cursor:pointer;
  color:red;
}
.hot{
  list-style-type:none;
  font-size:25px;
  line
}