.input {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  text-align: left;
  background-color: whitesmoke;
  max-width: 300px;
}

.input label {
  font-size: 12px;
  color: gray;
}

.input form {
  display: flex;
}

.input button.s {
  height: 40px;
  padding: 0 20px;
  border: none;
  background-color: #16ba88;
  color: white;
  cursor: pointer;
}

.input input {
  border-radius: 0;
  border: 1px solid lightgray;
  outline: none;
  border-right: none;
  flex: 1;
  padding: 0 10px;
}

.input input:focus {
  border: 1px solid #16ba88;
}

.input form input::placeholder {
  color: gray;
  font-size: 12px;
}
