* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.flex {
  display: flex;
  column-gap: 10px;
}

div.flex {
  border: 2px solid red;
  flex: 1;
  justify-content: space-between;
}

header {
  height: 60px;
  border: 1px solid;
  align-items: center;
}

header button {
  height: 60px;
  background-color: transparent;
  border: none;
}
