footer {
  background-color: black;
}

footer ul {
  display: flex;
  column-gap: 10px;
  margin: 0;
  padding: 0;
}

footer li{
    padding: 5px;
    border: 1px;
}

footer a {
    color: whitesmoke;
    padding: 5px;
}

a{
    color:blue;e;
}
footer a{
    color: tomato;
}

footer a{
    color:white;
    cursor: pointer;
}

div.f4 {
    font-size:0.9rem;
}
