* {
  margin: 0;
  padding: 0;
}

header,
ul,
.wrap {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

ul {
  text-align: center;
}

header {
  background-color: red;
  height: 100px;
}

header button {
  color: whitesmoke;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 30px;
  display: flex;
}

header > .wrap {
  border: 1px solid white;
  justify-content: space-between;
  width: 100px;
}

header img {
  width: 20px;
  height: 20px;
  color: red;
}

header > .flex > div .flex {
  border: 1px solid yellow;
}

header > .flex {
  border: 1px solid red;
  justify-content: space-between;
}
